.container {
  max-width: 700px;
  padding: 30px;
  border-radius: 10px;
  margin-inline: auto;
  text-align: left;
}

.li {
  text-align: left;
  margin-bottom: 30px;
}

img {
  max-width: 50px;
  aspect-ratio: 1;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

h3 {
  font-size: 40px;
  color: deepskyblue;
}