@import "./variables";

body {
	background-color: $bg-dark;
	font-family: sans-serif;
	color: $text-color;
	line-height: 1.5;
	font-size: 20px;
}

h1 {
	color: $title-color;
	font-size: 40px;
}

.task {
	max-width: 800px;
	margin: 30px auto;
	padding: 20px;
	background-color: $bg-card;
	border-radius: 10px;
	box-shadow: $shadow-strong;
}

#root > div:nth-child(2) {
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	background-color: $bg-card;
	border-radius: 10px;
	box-shadow: $shadow-soft;
	font-size: 20px;
}

span {
	font-weight: bold;
}

.task {
	line-height: 1.5;
}

.task_buttons {
	display: flex;
	gap: 10px;
	padding-block: 1rem;
	justify-content: center;
}
.render-body {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.result {
	text-align: center;
}
ul {
	text-align: center;
}
