@import 'tailwindcss';
:root {
	max-width: 1280px;
	margin: 0 auto;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-link {
	margin: 0 10px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	transition: text-decoration 0.2s ease;
}

.menu-link:hover {
	text-decoration: underline;
	color: #ffff66;
	/* або lime/yellow — для акценту */
}

h1{
	font-size: 2.5rem;
	margin-block-end: 1rem;
	text-align: center;
	color: yellow;
	text-decoration: underline;
}

button, .btn-adduser{
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 5px 15px;
	cursor: pointer;
	font-size: 1.1rem;
	margin-inline-end: 0.5rem;
	transform: translateY(0px);
	transition: all 0.3s;
}

button:hover, .btn-adduser:hover {
	transform: translateY(-2px);
	text-decoration: underline;
	transition: all 0.6s;
}

.btn-delete{
	background-color: rgb(203, 26, 26);
}

.btn-adduser {
	background-color: green;
}

input {
	width: 100%;
	padding: 0.5rem;
	/* p-2 */
	border: 1px solid #4b5563;
	/* border-gray-600 */
	border-radius: 0.375rem;
	/* rounded */
	background-color: #000000;
	/* bg-black */
	color: #ffffff;
	margin-block-end: 1rem;
	/* text-white */
	transition: border-color 0.2s ease;
}

input:focus {
	outline: none;
	border-color: #10b981;
	/* border-green-500 */
	box-shadow: 0 0 0 1px #10b981;
	/* Ring effect */
}

input:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
