input {
	padding: 10px;
	background-color: $input-bg;
	color: $title-color;
	border: 1px solid $title-color;
	border-radius: $radius;
	margin: 10px;
	text-align: center;
	width: 200px;
	display: block;
}
