body {
	background-color: $color-bg;
	color: $color-text;
	font-family: $font-main;
	line-height: 1.5;
}

a {
	color: $color-accent;
	text-decoration: none;
	transition: color $transition;

	&:hover {
		color: $color-accent-hover;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 700;
	letter-spacing: 1px;
}

h1 {
	font-size: 3.5rem;
	letter-spacing: 1px;
	margin-block-end: 1rem;
	text-align: center;
	text-decoration: underline;
	font-style: italic;
	color: yellow;
}
