.home {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh; // щоб був відступ зверху і знизу
	padding: 2rem;
}

.content {
	text-align: center;
	background: rgba(10, 10, 10, 0.9); // напівпрозорий чорний фон
	border: 2px solid #a3ff12;
	border-radius: 16px;
	padding: 2rem 3rem;
	box-shadow: 0 0 20px rgba(163, 255, 18, 0.2);
	max-width: 700px;
}

.image {
	width: 100%;
	max-width: 450px;
	border-radius: 12px;
	box-shadow: 0 0 20px rgba(255, 255, 0, 0.2);
	margin-bottom: 1.5rem;
}

.title {
	font-family: "Orbitron", sans-serif;
	color: #a3ff12;
	font-size: 2rem;
	margin-bottom: 1rem;
	text-shadow: 0 0 10px rgba(163, 255, 18, 0.8);
}

.subtitle {
	color: #ffeb3b;
	font-size: 1.2rem;
	font-family: "Orbitron", sans-serif;
	text-shadow: 0 0 5px rgba(255, 235, 59, 0.5);
}
p {
	margin-block-end: 1rem;
}
