.editDreamButton {
	display: inline-flex;
	background: green;
	box-shadow: 0 4px 12px rgba(132, 204, 22, 0.3);
	white-space: nowrap;
	text-decoration: none;
	margin: 0.5rem 0.5rem 0 0;
	transition: all 0.2s ease-in-out;

	&:hover {
		background: green;
		box-shadow: 0 4px 12px rgba(34, 197, 94, 0.5);
		text-decoration: underline;
		color: #fff;
		transition: all 0.4s ease-in-out;
	}
}
