.container {
	max-width: 1000px;
	padding: 30px;
	border-radius: 10px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {
	margin-block-end: 15px;
}
.header_button {
	display: flex;
	justify-content: center;
	align-items: center;
}
.table {
	border: 1px solid yellowgreen;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
}
.table_title {
	border: 1px solid yellowgreen;
	padding-block: 15px;
	font-size: 30px;
}
.item_list {
	border: 1px solid yellowgreen;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
