.detailDreamButton {
  background: -webkit-gradient(linear, left top, right top, from(#3b82f6), to(#1e3a8a));
  background: linear-gradient(90deg, #3b82f6 0%, #1e3a8a 100%);
}
.detailDreamButton:hover {
  background: -webkit-gradient(linear, left top, right top, from(#2563eb), to(#1e40af));
  background: linear-gradient(90deg, #2563eb 0%, #1e40af 100%);
  -webkit-box-shadow: 0 4px 12px rgba(37, 99, 235, 0.5);
          box-shadow: 0 4px 12px rgba(37, 99, 235, 0.5);
  text-decoration: underline;
  color: #fff;
}