.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #858484;
  border: 2px solid #a3ff12;
  border-radius: 16px;
  -webkit-box-shadow: 0 6px 25px rgba(163, 255, 18, 0.4);
          box-shadow: 0 6px 25px rgba(163, 255, 18, 0.4);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.backButton {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  border: 2px solid #a3ff12;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.backButton:hover {
  background-color: #a3ff12;
  color: #000;
  -webkit-box-shadow: 0 0 10px #a3ff12;
          box-shadow: 0 0 10px #a3ff12;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}