.editDreamButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: green;
  -webkit-box-shadow: 0 4px 12px rgba(132, 204, 22, 0.3);
          box-shadow: 0 4px 12px rgba(132, 204, 22, 0.3);
  white-space: nowrap;
  text-decoration: none;
  margin: 0.5rem 0.5rem 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.editDreamButton:hover {
  background: green;
  -webkit-box-shadow: 0 4px 12px rgba(34, 197, 94, 0.5);
          box-shadow: 0 4px 12px rgba(34, 197, 94, 0.5);
  text-decoration: underline;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}