.button {
	background-color: #000;
	color: #fff;
	border: 2px solid #a3ff12; // лаймовий акцент
	padding: 0.6rem 1.2rem;
	border-radius: 12px;
	font-family: "Orbitron", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.2s ease;
	letter-spacing: 1px;

	&:hover {
		background-color: #a3ff12;
		color: #000;
		box-shadow: 0 0 10px #a3ff12;
		transform: translateY(-2px);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
