.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	margin-top: 2rem;
	font-family: "Orbitron", sans-serif;
}

.pageInfo {
	color: #a3ff12;
	font-size: 1.1rem;
	text-shadow: 0 0 8px rgba(163, 255, 18, 0.7);
}

.navButton {
	/* можешь чуть изменить отступы, если нужно */
	padding: 0.5rem 1.5rem;
}
