.addDreamButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.1rem;
	background: linear-gradient(90deg, #16a34a 0%, #14532d 100%);
	box-shadow: 0 4px 12px rgba(132, 204, 22, 0.3);
	white-space: nowrap;
	text-decoration: none;
	margin-block-end: 1rem;
	transition: all 0.2s ease-in-out;

	&:hover {
		box-shadow: 0 6px 16px rgba(163, 230, 53, 0.4);
		text-decoration: underline;
		color: yellow;
		transform: translateY(-2px);
		transition: all 0.4s ease-in-out;
	}
}
