.result__container {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
  text-align: center;
}

thead {
  height: 50px;
  font-size: 24px;
  color: greenyellow;
}

table,
tr {
  border: 1px solid #fff;
  color: #fff;
}