.input {
	width: 100%;
	background-color: #000;
	color: #fff;
	border: 2px solid #a3ff12;
	border-radius: 10px;
	padding: 0.6rem 1rem;
	font-size: 1rem;
	font-family: "Orbitron", sans-serif;
	outline: none;
	margin-block-end: 1rem;
	transition: all 0.2s ease;

	&::placeholder {
		color: rgba(255, 255, 255, 0.5);
	}

	&:focus {
		border-color: #ffeb3b; // жовтий при фокусі
		box-shadow: 0 0 10px #a3ff12;
	}

	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}
}
