.container {
	max-width: 700px;
	padding: 30px;
	border-radius: 10px;
	margin-inline: auto;
	text-align: left;
}
.li {
	text-align: left;
	margin-bottom: 30px;
}
img {
	max-width: 50px;
	aspect-ratio: 1;
	width: 100%;
	object-fit: contain;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}
h3 {
	font-size: 40px;
	color: deepskyblue;
}
