select {
	font-size: 20px;
	padding: 10px;
	background-color: $input-bg;
	color: $input-border;
	border: 1px solid $input-border;
	border-radius: $radius;
	margin: 10px;
	text-align: center;
	width: 200px;
	display: block;
}
